/* /\* Libertine *\/ */

@font-face {
    font-family: 'Linux Libertine';
    font-style: normal;
    font-weight: 400;
    src: local("Libertinus"),
    local('Linux Libertine O'),
    local("Linux Libertine"),
    url(/fonts/linuxlibertine/400.woff) format('woff')
}

@font-face {
    font-family: 'Linux Libertine';
    font-style: italic;
    font-weight: 400;
    src: local("Libertinus Italic"),
    local('Linux Libertine O Italic'),
    local("Linux Libertine Italic"),
    url(/fonts/linuxlibertine/400i.woff) format('woff')
}

@font-face {
    font-family: 'Linux Libertine';
    font-style: normal;
    font-weight: 600;
    src: local("Libertinus Semibold"),
    local('Linux Libertine O Semibold'),
    local("Linux Libertine Semibold"),
    url(/fonts/linuxlibertine/600.woff) format('woff')
}

@font-face {
    font-family: 'Linux Libertine';
    font-style: italic;
    font-weight: 600;
    src: local('Libertinus Semibold Italic'),
    local('Linux Libertine Semibold Italic'),
    local('Linux Libertine O Semibold Italic'),
    url(/fonts/linuxlibertine/600i.woff) format('woff') }

@font-face {
    font-family: 'Linux Libertine';
    font-style: normal;
    font-weight: 700;
    src: local('Libertinus Bold'),
    local('Linux Libertine O Bold'),
    local('Linux Libertine Bold'),
    url(/fonts/linuxlibertine/700.woff) format('woff') }

/* BIOLINUM */


@font-face {
    font-family: 'Biolinum';
    font-style: normal;
    font-weight: 400;
    src: local('Linux Biolinum'),
    local('Linux Biolinum O'),
    local('Linux Biolinum G'),
    url(/fonts/linuxbiolinum/400.woff) format('woff')
}

@font-face {
    font-family: 'Biolinum';
    font-style: italic;
    font-weight: 400;
    src: local('Linux Biolinum Italic'),
    local('Linux Biolinum O Italic'),
    local('Linux Biolinum G Italic'),
    url(/fonts/linuxbiolinum/400.woff) format('woff')
}
@font-face {
    font-family: 'Biolinum';
    font-style: normal;
    font-weight: 700;
    src:local('Linux Biolinum Bold'),
    local('Linux Biolinum O Bold'),
    local('Linux Biolinum G Bold'),
    url(/fonts/linuxbiolinum/700.woff) format('woff')}


/* OPEN SANS */

@font-face{font-family:'Open Sans';
           font-style:normal;
           font-weight:300;
           src:local('Open Sans Light'),
           url(/fonts/opensans/300.woff) format('woff')}
@font-face{font-family:'Open Sans';
           font-style:normal;
           font-weight:400;
           src:local('Open Sans Regular'),
           url(/fonts/opensans/400.woff) format('woff')}
@font-face{font-family:'Open Sans';
           font-style:normal;
           font-weight:600;
           src:local('Open Sans Semibold'),
           url(/fonts/opensans/600.woff) format('woff')}
@font-face{font-family:'Open Sans';
           font-style:normal;
           font-weight:700;
           src:local('Open Sans Bold'),
           url(/fonts/opensans/700.woff) format('woff')}
@font-face{font-family:'Open Sans';
           font-style:normal;
           font-weight:800;
           src:local('Open Sans Extrabold'),
           url(/fonts/opensans/800.woff) format('woff')}
@font-face{font-family:'Open Sans';
           font-style:italic;
           font-weight:300;
           src:local('Open Sans Light Italic'),
           url(/fonts/opensans/300i.woff) format('woff')}
@font-face{font-family:'Open Sans';
           font-style:italic;
           font-weight:400;
           src:local('Open Sans Italic'),
           url(/fonts/opensans/400i.woff) format('woff')}
@font-face{font-family:'Open Sans';
           font-style:italic;
           font-weight:600;
           src:local('Open Sans Semibold Italic'),
           url(/fonts/opensans/600i.woff) format('woff')}
@font-face{font-family:'Open Sans';
           font-style:italic;
           font-weight:700;
           src:local('Open Sans Bold Italic'),
           url(/fonts/opensans/700i.woff) format('woff')}
@font-face{font-family:'Open Sans';
           font-style:italic;
           font-weight:800;
           src:local('Open Sans Extrabold Italic'),
           url(/fonts/opensans/800i.woff) format('woff')}

/* SOURCE CODE PRO */

@font-face{font-family:'Source Code Pro';
           font-style:normal;
           font-weight:300;
           src:local('Source Code Pro Light'),
           url(/fonts/sourcecodepro/300.woff) format('woff')}
@font-face{font-family:'Source Code Pro';
           font-style:normal;
           font-weight:400;
           src:local('Source Code Pro Regular'),
           url(/fonts/sourcecodepro/400.woff) format('woff')}
@font-face{font-family:'Source Code Pro';
           font-style:normal;
           font-weight:600;
           src:local('Source Code Pro Semibold'),
           url(/fonts/sourcecodepro/600.woff) format('woff')}
@font-face{font-family:'Source Code Pro';
           font-style:normal;
           font-weight:700;
           src:local('Source Code Pro Bold'),
           url(/fonts/sourcecodepro/700.woff) format('woff')}
@font-face{font-family:'Source Code Pro';
           font-style:normal;
           font-weight:800;
           src:local('Source Code Pro Extrabold'),
           url(/fonts/sourcecodepro/800.woff) format('woff')}
@font-face{font-family:'Source Code Pro';
           font-style:italic;
           font-weight:300;
           src:local('Source Code Pro Light Italic'),
           url(/fonts/sourcecodepro/300i.woff) format('woff')}
@font-face{font-family:'Source Code Pro';
           font-style:italic;
           font-weight:400;
           src:local('Source Code Pro Italic'),
           url(/fonts/sourcecodepro/400i.woff) format('woff')}
@font-face{font-family:'Source Code Pro';
           font-style:italic;
           font-weight:600;
           src:local('Source Code Pro Semibold Italic'),
           url(/fonts/sourcecodepro/600i.woff) format('woff')}
@font-face{font-family:'Source Code Pro';
           font-style:italic;
           font-weight:700;
           src:local('Source Code Pro Bold Italic'),
           url(/fonts/sourcecodepro/700i.woff) format('woff')}
@font-face{font-family:'Source Code Pro';
           font-style:italic;
           font-weight:800;
           src:local('Source Code Pro Extrabold Italic'),
           url(/fonts/sourcecodepro/800i.woff) format('woff')}

