.headerDiv {
   text-align: right;
   text-align: right;
   color: #222;
   font-size: 1.3rem;
   padding-bottom: 5px;
}



.changeFontSizeDiv {
   text-align: right;
   color: #222;
   font-size: 1.0em; 
}​


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,


video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: 'Rubik', sans-serif; !important;
  color: #767676;
  font-size: 18px;
  line-height: 1.8;
}
body {
  margin: 0;
  background-color: white;
  margin: 0 auto;
  max-width: 23cm;
  border: 2pt solid #E6E6E6;
  padding: 2em 4%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

pre,
code {
  font-family: 'Inconsolata', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: #222;
}
html {
  background-color: white;
  color: #222;
  margin: 2em;
}
code {
  background-color: #BDBDBD;
  padding: 2px;
  margin-left:10px;
  font-size: 0.8em;
}
a {
  color: #A4A4A4;
  text-decoration: none;
  border-bottom: 1px dashed #999;
}
a:visited {
  color: #A4A4A4;
  border-bottom: 1px dashed #999;
}
a:hover {
  color: #2E2E2E;
  border-bottom: 1px dashed #999;
}
h1 {
  color: #222;
  padding: 0 0 50px;
}

pre {
  background-color: #BDBDBD;
  color: #839496;
  border: 1pt solid #586e75;
  padding: 1em;
  box-shadow: 5pt 5pt 8pt #073642;
}
pre code {
  background-color: #BDBDBD;
}
h1 {
  font-size: 2.0em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.0em;
}
h6 {
  font-size: 0.8em;
}

li{
  padding: 0.1em;
}
.reportDiv {
   text-align: right;
   color: #E6E6E6;
   font-size: 1.2em;
}​
.tag {
  background-color: #BDBDBD;
  color: #d33682;
  padding: 0 0.2em;
}
.todo,
.next {
  color: white;
  background-color: #dc322f;
  padding: 0 0.2em;
  border-radius: 0.2em;
  font-size: 0.5em;
}
.done {
  color: white;
  background-color: #859900;
  padding: 0 0.2em;
  border-radius: 0.2em;
  font-size: 0.5em;
}
.nilSTARTED {
  color: #002b36;
  background-color: #268bd2;
  border-radius: 0.2em;
  padding: 0 0.2em;
  font-size: 0.5em;
}
.tag {
  -webkit-border-radius: 0.35em;
  -moz-border-radius: 0.35em;
  border-radius: 0.35em;
  padding: 0em 0.5em;
}
.TODO {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #dc322f;
  color: white;
  font-size: 0.7em;
}
.NEXT {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #268bd2;
}
.STARTED {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #268bd2;
  font-size: 0.7em;
}
.DONE {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #859900;
  font-size: 0.7em;
}
.WAITING {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #cb4b16;
}
.HOLD {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #d33682;
}
.NOTE {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #d33682;
}
.CANCELED, .nilCANCELED {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #808080;
}
.collapse_toc {
   font-size:14px;
}​




